public/assets/js/manifest.json
public/assets/public/**
public/assets/images/users/**
public/assets/images/evp
public/assets/images/activity
public/assets/images/activity-thumb
public/assets/doc/evp
public/assets/doc/volunteer
public/assets/gallery
public/storage
public/self-assessment
public/media
storage/**
storage/app/**
storage/framework/**
Homestead.yaml
Homestead.json
.env
/.idea
.idea/workspace.xml
docker-compose.yml
nginx/sites-available/default
/node_modules
nginx/log
.php_cs.cache
.vscode
resources/views/emails/perpanjang_vpn.blade.php
.DS_Store
database/data/data_ad_shap.csv
database/data/data_reset_kantor_pusat.csv
database/data/data_reset_role_shap.csv
database/data/data_shap_filter.csv
database/data/data_ad_failed.csv
vendor
